.cardapio {
  padding: 70px 0;
  background: var(--bg-card);
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 35px;
}

.card {
  text-decoration: none;
  color: var(--text-primary);
  display: block;
  background: var(--bg-tertiary);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card-content {
  padding: 25px;
}

.card h3 {
  font-size: 32px;
  color: var(--text-secondary);
  margin-bottom: 10px;
}
