/* =========================
   VARIÁVEIS DE CORES
========================= */

:root {
  --bg-primary: #14110f;
  --bg-secondary: #b17a3d;
  --bg-tertiary: #1d1915;
  --bg-card: #241f1a;

  --text-primary: #f2f2f2;
  --text-secondary: #d4a264;
  --text-tertiary: #111111;

  --overlay-dark: rgba(0, 0, 0, 0.55);
}

/* =========================
   RESET BÁSICOS
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
